#typeDiv {
  display: block;
}
#bodyPartDiv {
  display: none;
}
#targetDiv {
  display: none;
}
#equipDiv {
  display: none;
}
label {
  background-color: yellow;
}
.widthclass{

  width: 300px  !important;
  height: 600px !important;

}