*{
    padding: 0;
    margin: 0;

}
 body{
    padding: 0;
    margin: 0;
}

.navbar {
    background-color:#2bdf28;
    transition: 500ms;
    height: 10vh;

}

.navbar:hover{
    background-color: #9ad23a;
}
#sidebar {
    height: 80vh;
    background-color: rgb(20, 36, 11);
  
    margin: 0;
}
.profile-info {
    display: none;
  }

  button {
    cursor: pointer;
  }

.footer {
    height: 10vh;
    background-color:#2bdf28
 


}

.sidebar-list {
    list-style: none;
    color: #cf8efd;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    text-decoration: none;
}
.sidebar-list a{
    text-decoration: none;

}
.sidebar-list:hover {
    color: #f6e8ff;
    transform: scale(1.1);
    
    
}

h1, h3 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  padding: 50px;
  text-align: center;
}
p {
  color: #1a1a1a;
  font-weight: 500;
  font-size: medium;
  padding: 50px;

  text-align: center;
}
#search-music {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#search-field {
    width: 350px;
    height: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    text-align: center;
    background-color: #dfe0dc;
    border: none;

}
#search-btn {
    width: 100px;
    height: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #b767f0;
    border: none;
    transition: 500ms;



}
#search-btn:hover {
    background-color: #c7a2e1;
}
.card {
    margin: 10px;
    width: 100px;
    border: none;
    border-radius: 8px;
    transition: transform 0.3s;
    height: 100px;
  }

  .card:hover {
    transform: scale(1.05);
  }
  .card-div {
    margin: 10px;
  }

  .card-body {

    margin: 8px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
  }

  .profile-card {
    max-width: 400px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .genre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile-card-header {
    background-color: #eceef0;
    color: #121111;
    padding: 15px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .profile-card-body {
    padding: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 10px;
  }
  #hero-section {
    background-color: #c7a2e1;
    background-image: url('/assets/images/Letter M Gym Logo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

  #main-body {
    color: #040303;
    padding: 0;
    margin: 0;
    height: 80vh;
    overflow: scroll;

  }
  #registration{
    padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
    
  }
  #registration button {
    width: 200px;
    height: 40px;
    background-color: #298cef;
    color: whitesmoke;
    border: none;
    margin: 4px;
    border-radius: 40px;
    transition: 500ms;
  }
  #registration button:hover {
    background-color: #2528eb;
  }
